@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: rgba(37, 13, 68, 1);
}


/* shared style */
.logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}


.logo-wave {
    background: linear-gradient(47.64deg,
            rgba(247, 233, 63, 1) 0%,
            rgba(251, 9, 180, 1) 50%,
            rgba(145, 0, 248, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.nav-btn {
    color: white;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    border-radius: 625rem;
    background: linear-gradient(47.64deg,
            rgba(247, 233, 63, 1) 0%,
            rgba(251, 9, 180, 1) 50%,
            rgba(145, 0, 248, 1) 100%);
}


/* main style */

/* Navbar Style  */
.navbar {
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 1.2rem;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.navbar .hamburger-icon {
    display: none;
}

/* Banner Section Style  */
.banner-section {
    position: relative;
    width: 100%;
    min-height: 760px;
}


.banner-stack {
    position: relative;
}


.banner-hero-image {
    z-index: 0;

}


.mic-div {
    max-width: 7.25rem;
    width: 100%;
    height: 11rem;
    align-items: center;
    display: flex;
    justify-items: center;
}


.circle-div {
    max-width: 22rem;
    height: 22rem;
    width: 100%;
    align-items: center;
    display: flex;
    justify-items: center;
}


.banner-mic-image {
    z-index: 10;
    top: -550px;
    right: -710px;
}


.banner-mic-background-image {
    z-index: 5;
    top: -800px;
    right: -593px;
}


/* Responsive Style  */
@media screen and (max-width: 576px) {

    .navbar ul,
    .nav-btn {
        display: none;
    }

    .navbar .hamburger-icon {
        display: block;
        cursor: pointer;
    }
}