@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #1A0B2E;
}


/* shared style */
.logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}


.logo-wave {
    background: linear-gradient(47.64deg,
            rgba(247, 233, 63, 1) 0%,
            rgba(251, 9, 180, 1) 50%,
            rgba(145, 0, 248, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.nav-btn {
    color: white;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    border-radius: 625rem;
    background: linear-gradient(47.64deg,
            rgba(247, 233, 63, 1) 0%,
            rgba(251, 9, 180, 1) 50%,
            rgba(145, 0, 248, 1) 100%);
}


/* main style */

/* Navbar Style  */
.navbar {
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 1.2rem;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.navbar .hamburger-icon {
    display: none;
}


/* Banner Section Style  */

.banner-section {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 0 8rem 0;
    position: relative;
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.banner-image {
    width: 100%;
    height: 50vh;
}


.banner-mic {
    position: absolute;
    width: 100%;
    max-width: 22rem;
    max-height: 22rem;
    border-radius: 50%;
    background-image: url("./assets/hero-circle.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}


.new-little-badge {
    position: absolute;
    top: 2rem;
    left: 79%;
    background-color: #00ff88;
    color: black;
    padding: 0.3rem 0.8rem;
    border-radius: 625rem;
    font-size: 0.8rem;
    font-weight: 600;
}


.mic-image {
    width: 7.25rem;
    height: 12.5rem;
    margin: 4.5rem 4.6rem 4.5rem 7.4rem;
}


.banner-content {
    text-align: center;
    padding-top: 8rem;
    margin: 2rem 0;
    gap: 1.5rem;
}


.spotify-btn {
    white-space: nowrap;
    padding: 0.75rem 2.10rem 0.75rem 1.25rem;
}


.subscribe-btn {
    color: #00ff88;
    font-size: 1rem;
    padding: 0.75rem 2.10rem 0.75rem 1.25rem;
    border-radius: 625rem;
    background: transparent;
    border: 2px solid #00ff88;
}



/* about section */

.about-section-description {
    text-align: center;
    max-width: 75rem;
    margin: 0 auto;
}


.about-section-title {
    margin-bottom: 1rem;
}


.about-paragraph-break {
    margin-top: 3rem;
    padding-bottom: 10rem;
    border-bottom: .2rem solid rgba(255, 255, 255, 0.136);
    margin-bottom: 10rem;
}


.about-section-paragraph {
    line-height: 2.25rem;
}


.about-card-container {
    justify-content: center;
    gap: 5rem;
}


.about-card {
    max-width: 15rem;
    width: 100%;
    height: 5.8rem;
    text-align: center;
    margin-bottom: 7.5rem;
}


.card-paragraph {
    margin-top: 1rem;
    padding-bottom: 5rem;
}


.card-title {
    text-align: center;
    color: #00ff88;
}


/* why choose section */

.why-choose-section {
    background-color: #230E3D;
    padding: 7.5rem 12.5rem;
}


.why-choose-title {
    text-align: center;
    margin-bottom: 2.5rem;
}


.why-choose-container {
    margin: 0 auto;
    padding-bottom: 4rem;
    padding-top: 2rem;
}


.features-grid {
    width: 1200px;
}


.feature-card {
    background: rgba(53, 17, 101, 0.4);
    border-radius: 2.5rem;
    padding: 2rem 1.25rem;
    text-align: left;
    justify-content: center;
}


.features-grid h3 {
    margin-top: 1.8rem;
}


.feature-card:hover {
    background: rgba(255, 255, 255, 0.08);
    border-color: #00d9ff;
    transform: translateY(-5px);
}


.feature-icon {
    width: 3.75rem;
    height: 3.75rem;
    background: rgba(0, 217, 255, 0.1);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}




.card-paragraph {
    line-height: 2rem;
    margin-top: 2rem;
}


.feature-1 {
    grid-area: card1;
}

.feature-2 {
    grid-area: card2;
}

.feature-3 {
    grid-area: card3;
}

.feature-4 {
    grid-area: card4;
}

.feature-5 {
    grid-area: card5;
}


.features-grid {
    display: grid;
    gap: 1.87rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "card1 card2 card2"
        "card1 card3 card3"
        "card4 card4 card5"
}


.features-grid>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16;
    padding: 0.7rem;
}


/* Responsive Style  */
@media screen and (max-width: 576px) {

    /* shared style */

    .navbar ul,
    .nav-btn {
        display: none;
    }

    .navbar .hamburger-icon {
        display: block;
        cursor: pointer;
    }



    /* banner section */

    .spotify-btn {
        display: inline-flex;
    }



    .banner-section {
        background-size: 100% 100vh;
        background-position: top center;
    }


    .banner-mic {
        position: absolute;
        max-width: 12.5rem;
        width: 100%;
        max-height: 12.5rem;
        border-radius: 50%;
        top: 32%;
        left: 50%;
    }


    .mic-image {
        width: 4rem;
        height: 4rem;
        margin: 2.5rem 2.6rem 2.5rem 4.2rem;
    }


    .new-little-badge {
        top: -.001rem;
        left: 70%;
        padding: 0.2rem 0.5rem;
        font-size: 0.7rem;
    }


    .banner-content {
        padding-top: 1.5rem;
        margin: 1rem 0;
        overflow-x: hidden;
    }


    /* about section */
    .about-section {
        max-width: 27.5rem;
        height: 36rem;
        padding: 26px 15px;
    }


    .about-section-description {
        max-width: 25rem;
    }


    .about-section-title {
        font-size: 2rem;
    }


    .about-section-paragraph {
        line-height: 1.25rem;
    }


    br {
        display: none;
    }


    .about-paragraph-break {
        margin-top: 1.25rem;
        padding-bottom: 5rem;
        border-bottom: .2rem solid rgba(255, 255, 255, 0.136);
        margin-bottom: 10rem;
    }


    .about-card-container {
        display: grid;
        max-width: 22rem;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 2rem;
        padding-right: 1rem;
        column-gap: 1rem;
        overflow: hidden;
    }


    /* why-choose-section */

    .features-grid{
    margin: 3rem 1.2rem;
    }


    .features-grid{
grid-template-columns: 1fr;
    grid-template-areas:
    "card1"
    "card2"
    "card3"
    "card4"
    "card5"
    }

}